/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    color: #333;
}

header {
    background-color: #0078D4;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.beta-label {
    font-size: smaller; /* Kleiner lettertype voor het "Beta" label */
    vertical-align: sub; /* Ondersteunt uitlijning met de basislijn van de hoofdtekst */
}


.search-box {
    margin-top: 20px;
    text-align: center;
}

.search-box input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-box button {
    padding: 10px 20px;
    background-color: #0078D4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #005a9e;
}

.hero {
    padding: 50px 20px;
    text-align: center;
}

.games {
    padding: 50px 20px;
    text-align: center;
}

.games h2 {
    margin-bottom: 20px;
}

.game-card {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 20px);
    margin: 0 10px 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    max-height: 200px; /* Hier is de wijziging om de hoogte van het logo aan te passen */
}

.game-card h3 {
    margin-bottom: 10px;
}

.game-card p {
    margin-bottom: 10px;
}

.game-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0078D4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.game-card a:hover {
    background-color: #005a9e;
}

footer {
    background-color: #0078D4;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
